<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.grzegorz.a4gastro_waiter_app">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.TablesListActivity">
        </activity>
        <activity android:name=".view.TableDetailsActivity">
        </activity>
        <activity android:name=".view.AddDishActivity">
        </activity>
        <activity android:name=".view.ReadyOrderListActivity">
        </activity>
        <activity android:name=".view.NewOrderActivity">
        </activity>
        <activity android:name=".view.AddTableNumberActivity">
        </activity>
        <activity android:name=".view.ReadyOrderDetailsActivity">
        </activity>
    </application>

</manifest>